<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>

        <target name="logconsole" xsi:type="Console">
            <layout xsi:type="JsonLayout">
                <attribute name="timestamp" layout="${date}" />
                <attribute name="loglevel" layout="${level}" />
				<attribute name="correlationId" layout="${mdlc:item=correlationid}" />
                <attribute name="message" layout="${message}" />
				<attribute name="callsite" layout="${callsite}" />
                <attribute name="error" layout="${exception:format=ToString}" />
                <attribute name="app_name" layout="${environment:APP_NAME}" />
            </layout>
        </target>
    </targets>

    <rules>
		<logger name="Microsoft.*" minlevel="Info" writeTo="" final="true" />
        <logger name="*" minlevel="Debug" writeTo="logconsole" />
    </rules>
</nlog>